<div id="hero-section">
  <div class="hero-content">
    <div class="hero-title">
      <h1>ONE COMPANY</h1>
      <h1>THREE DIVISIONS</h1>
      <h1>INFINITE POTENTIAL</h1>
    </div>

    <div class="hero-text">
      <p class="font-weight-600 letter-spacing-1px">
        EXCELLENCE IN CONSTRUCTION <span class="text-accent-color">SINCE 1981</span>
      </p>
    </div>

    <a class="arrow-2 bounce" href="#services-section">
      <span class="fa fa-angle-down"></span>
    </a>
  </div>
</div>
