# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Angular cache
.angular/
.angular/cache/
# Ignore all .idea folders
**/.idea/

