
<div class="front-page no-sidebar site-layout-full-width header-style-5 menu-has-search menu-has-cart header-sticky">
  <app-header></app-header>
  <app-hero-section></app-hero-section>

  <div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
      <div id="site-content" class="site-content clearfix">
        <div id="inner-content" class="inner-content-wrap">
          <div class="page-content">
            <app-divisions></app-divisions>
            <app-services></app-services>
            <!-- <app-projects></app-projects>
             <app-offers></app-offers>
          <app-promotion></app-promotion>
          <app-facts></app-facts>
          <app-testimonials></app-testimonials>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer ></app-footer>
</div>
