<div class="front-page no-sidebar site-layout-full-width header-style-5 menu-has-search menu-has-cart header-sticky">
<div id="wrapper" class="animsition">
    <div id="page" class="clearfix">
    <div id="site-header-wrap">
            <!-- Top Bar -->
            <div id="top-bar" class="style-2">
                <div id="top-bar-inner" class="container">
                    <div class="top-bar-inner-wrap">
                        
                        <div class="top-bar-socials">
                            <div class="inner">
                                <span class="icons">
                                    <a href="#" title="Twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                    <a href="#" title="Facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                    <a href="#" title="Google Plus"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                    <a href="#" title="Pinterest"><span class="fa fa-pinterest" aria-hidden="true"></span></a>
                                    <a href="#" title="Dribbble"><span class="fa fa-dribbble" aria-hidden="true"></span></a>
                                </span>
                            </div>
                        </div><!-- /.top-bar-socials -->
        
                        <div class="top-bar-content">
                            <span id="top-bar-text">
                                <i class="fa fa-phone-square"></i>+216 71 717 170
                                <i class="fa fa-envelope"></i>constructionIQ.com
                                <i class="fa fa-clock-o"></i>Mon-Fri: 8:00 - 18:00
                            </span><!-- /#top-bar-text -->
                        </div><!-- /.top-bar-content -->
                    </div>
                </div>
            </div><!-- /#top-bar -->
        
            <!-- Header -->
            <header id="site-header" class="header-front-page style-5">
                <div id="site-header-inner" class="container">
                    <div class="wrap-inner">          
                        <div id="site-logo" class="clearfix">
                            <div id="site-logo-inner">
                                <a href="#" title="Construction" rel="home" class="main-logo">
                                    <img src="assets/img/logo-light.png" alt="Construction" data-retina="assets/img/logo-light@2x.png" data-width="200" data-height="30"  >
                                </a>
                            </div>
                        </div><!-- /#site-logo -->
        
                        <div class="mobile-button"><span></span></div><!-- //mobile menu button -->
        
                        <nav id="main-nav" class="main-nav">
                            <ul class="menu">
                                
                                <li class="menu-item menu-item-has-children current-menu-item"><a href="home-slider-full-screen.html">Home</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="home-slider-full-screen.html">Home 1 - Full Slider</a></li>
                                        <li class="menu-item"><a href="home-slider-simple.html">Home 1 - Simple Slider</a></li>
                                        <li class="menu-item"><a href="home-hero-slideshow.html">Home 1 - Slideshow 1</a></li>
                                        <li class="menu-item"><a href="home-hero-slideshow-2.html">Home 1 - Slideshow 2</a></li>
                                        <li class="menu-item"><a href="home-header-fixed.html">Home 1 - Header Fixed</a></li>
                                        <li class="menu-item"><a href="home-2-slider-simple.html">Home 2 - Simple Slider</a></li>
                                        <li class="menu-item"><a href="home-3-hero-slideshow.html">Home 3 - Slideshow</a></li>
                                    </ul>

                                     <li class="menu-item">
                                        <a routerLink="/project-list">Projects</a> 
     
                                    </li>

                                <li class="menu-item "><a routerLink="/gantt">Timeline</a>
                                
                                
                                <li class="menu-item"><a href="blog.html">Blog</a></li>
                                <li class="menu-item"><a href="page-contact.html">Contact</a></li>
                                <li class="menu-item">
                                    <div class="text-center">
                                        <a  class="wprt-button rounded-3px" >Logout </a>
                                    </div></li>
                            </ul>
                        </nav><!-- /#main-nav -->
                    </div>
                </div><!-- /#site-header-inner -->
            </header><!-- /#site-header -->
        </div><!-- /#site-header-wrap -->
    </div>
</div>
</div>
